---
target: kubernetes/testing/local.yaml
---

{%- set vars = data['vars'] -%}

apiVersion: v1
kind: Secret
metadata:
  name: erlang
  labels:
    app: kazoo
    test: 'true'
    environment: testing
type: Opaque
data:
  cookie: WlgyZVA4Umo4cnVmUjVJbjNnWGV1akhYNllseEREbnRyd3ZROE5kcGd3OXFOQjZ5UFhPUWhxNFF4bEc0WnZaQQ==
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kazoo
  labels:
    app: kazoo
    test: 'true'
    environment: testing
data:
  {{ file('../../includes/config-data.yaml.inc')|indent(2) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kazoo-templates
  labels:
    app: kazoo
    project: {{ vars['project'] }}
    environment: {{ vars['environment'] }}
data:
  sys.config: |
    {{ file('../../includes/sys.config.inc')|indent(4) }}
  vm.args.j2: |
    {{ file('../../includes/vm.args.inc')|indent(4) }}
  config.ini.j2: |
    {{ file('../../includes/config.ini.inc')|indent(4) }}
---
apiVersion: v1
kind: Service
metadata:
  name: kazoo
  labels:
    app: kazoo
    test: 'true'
    environment: testing
spec:
  type: NodePort
  selector:
    app: kazoo
  ports:
  - name: crossbar
    port: 8000
    nodePort: 30800
  - name: ws-tcp
    port: 5555
    nodePort: 30055
  - name: ws-udp
    protocol: UDP
    port: 5555
    nodePort: 30055
  - name: fax-smtp
    port: 19025
    nodePort: 30025
  - name: media-proxy
    port: 24517
    nodePort: 30017
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kazoo
  labels:
    app: kazoo
    test: 'true'
    environment: testing
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: kazoo
        test: 'true'
        environment: testing
    spec:
      initContainers:
      - name: kubewait
        image: {{ vars['images']['kubewait'] }}
        imagePullPolicy: IfNotPresent
        args:
        - rabbitmq
        - couchdb
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      - name: config
        image: {{ vars['images']['tmpld'] }}
        imagePullPolicy: IfNotPresent
        args:
        - tmpld /templates/**/*.j2
        env:
        - name: ERLANG_HOSTNAME
          valueFrom:
            configMapKeyRef:
              name: kazoo
              key: erlang.hostname
        - name: KUBE_HOSTNAME_FIX
          valueFrom:
            configMapKeyRef:
              name: kazoo
              key: kube.hostname.fix
        volumeMounts:
        - name: templates
          mountPath: /templates
        - name: config
          mountPath: /config
      containers:
      - name: kazoo
        image: {{ vars['images']['kazoo'] }}
        imagePullPolicy: Always
        env:
        - name: ERLANG_HOSTNAME
          valueFrom:
            configMapKeyRef:
              name: kazoo
              key: erlang.hostname
        - name: KUBE_HOSTNAME_FIX
          valueFrom:
            configMapKeyRef:
              name: kazoo
              key: kube.hostname.fix
        - name: ERLANG_COOKIE
          valueFrom:
            secretKeyRef:
              name: erlang
              key: cookie
        - name: KAZOO_APPS
          valueFrom:
            configMapKeyRef:
              name: kazoo
              key: kazoo.apps
        ports:
        - name: crossbar
          containerPort: 8000
        - name: ws-tcp
          containerPort: 5555
        - name: ws-udp
          protocol: UDP
          containerPort: 5555
        - name: fax-smtp
          containerPort: 19025
        - name: media-proxy
          containerPort: 24517
        volumeMounts:
        - name: config
          mountPath: /config
        resources:
          requests:
            cpu: 3
            memory: 3Gi
          limits:
            cpu: 3
            memory: 3Gi
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 1200
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
      volumes:
      - name: templates
        configMap:
          name: kazoo-templates
      - name: config
        emptyDir: {}
      {# - name: healthz
        configMap:
          name: kazoo-healthz #}
      restartPolicy: Always
