---
target: kubernetes/production/ingress-wss.yaml
---

{%- set vars = data['vars'] -%}

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: wss.{{ vars['domain'] }}
  labels:
    project: {{ vars['project'] }}
    environment: {{ vars['environment'] }}
    provides: secure-websockets
    domain: wss.{{ vars['domain'] }}
  annotations:
    kubernetes.io/tls-acme: 'true'
    kubernetes.io/ingress.class: nginx
    ingress.kubernetes.io/proxy-send-timeout: {{ vars['websockets']['proxy-send-timeout'] }}
    ingress.kubernetes.io/proxy-read-timeout: {{ vars['websockets']['proxy-read-timeout'] }}
spec:
  tls:
  - hosts:
    - wss.{{ vars['domain'] }}
    secretName: wss.{{ vars['domain'] }}-tls
  rules:
  - host: wss.{{ vars['domain'] }}
    http:
      paths:
      - path: /
        backend:
          serviceName: kazoo
          servicePort: 5555
