---
target: kubernetes/production/ingress-api.yaml
---

{%- set vars = data['vars'] -%}

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: api.{{ vars['domain'] }}
  labels:
    app: kazoo
    project: {{ vars['project'] }}
    environment: {{ vars['environment'] }}
    provides: api
    domain: api.{{ vars['domain'] }}
  annotations:
    kubernetes.io/tls-acme: 'true'
    kubernetes.io/ingress.class: nginx
    ingress.kubernetes.io/ssl-redirect: 'false'
spec:
  tls:
  - hosts:
    - api.{{ vars['domain'] }}
    secretName: api.{{ vars['domain'] }}-tls
  rules:
  - host: api.{{ vars['domain'] }}
    http:
      paths:
      - path: /
        backend:
          serviceName: kazoo
          servicePort: 8000
