---
target: kubernetes/production/templates.yaml
---

{%- set vars = data['vars'] -%}

apiVersion: v1
kind: ConfigMap
metadata:
  name: kazoo-templates
  labels:
    app: kazoo
    project: {{ vars['project'] }}
    environment: {{ vars['environment'] }}
data:
  sys.config.j2: |
    {{ file('../../includes/sys.config.inc')|indent(4) }}
  vm.args.j2: |
    {{ file('../../includes/vm.args.inc')|indent(4) }}
  config.ini.j2: |
    {{ file('../../includes/config.ini.inc')|indent(4) }}
