---
target: kubernetes/testing/deps.yaml
---

{%- set deps = ['rabbitmq', 'couchdb', 'freeswitch', 'kamailio'] -%}

{%- for dep in deps -%}
#
# {{ dep|upper }}
#
---
{{ file('../../docker-%s/kubernetes/testing/local.yaml' % dep) }}

{% endfor -%}
