---
target: kubernetes/testing/deps.yaml
---

{%- for dep in ['rabbitmq', 'couchdb', 'freeswitch', 'kamailio'] -%}
#
# {{ dep|upper }}
#
---
{{ file('%s/../../docker-%s/kubernetes/testing/local.yaml' % (dirname, dep)) }}

{% endfor -%}
